*{margin:0;
padding:0;}


body{ /* background-color:#8a84e2; */
  background-image: url(./images/bg.png);
text-align:center;}

img{
  opacity: 0.2px;
}

.highlight{
  background-color: black;
  opacity: 0.8;
}

h1{
  font-size:80px;
  color: white;
  
}
.container{
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.game{height:60vmin;
    width:60vmin;
    display:flex; 
     flex-wrap: wrap;
justify-content: center;
align-items: center;
    }

 .box{height:19vmin;
     width:18vmin; 
     border-radius:10%;
     font-size:70px;
     background-color:#AFAFDC;
     color: black ;
     font-family: 'Courier New', Courier, monospace;
  
}

.resetBtn{
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
}

.hide{
  display: none;
} 

.msg {
  color: white;
  font-size: 5vmin;
  padding: 15px;
  margin: 10px;
}